@media all and (min-width: $bp-mobile) {
  .main-footer {
    margin-top: 5rem;
    background-color: $secondary-color;

    &__top-bar {
      margin-bottom: 2.5rem;
    }

    &__container {
      padding: 0 1rem;
      padding-top: 2.5rem;
      padding-bottom: 3.5rem;
    }

    &__title {
      margin: 0;
      margin-bottom: 1.8rem;
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: bold;
      color: #fff;
    }

    &__item {
      margin-bottom: 4rem;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__img {
      display: block;
      border-radius: 3px;
    }

    &__bottom-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__copyright {
      margin: 0;
      font-size: 1.4rem;
      color: #fff;
      order: 3;
    }

    &__author {
      margin: 1rem 0;
      font-size: 1.4rem;
      color: #fff;
      order: 2;

      a {
        color: #000;
        text-decoration: underline;

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }

    // list
    //
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__list-link {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.2rem;
      font-size: 1.4rem;
      line-height: 2rem;
      text-decoration: underline;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@media all and (min-width: $bp-tablets) {
  .main-footer {

    &__top-bar {
      display: flex;
      justify-content: space-between;
    }

    &__bottom-bar {
      flex-direction: row;
      align-items: flex-end;
    }

    &__item {
      margin-bottom: 0;
      text-align: left;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        width: 25.5047821466525%; // 240px : 941px
      }

      &:nth-child(4) {
        width: 24.54835281615303%; // 231px : 941px;
      }
    }

    &__copyright {
      width: 25.5047821466525%; // 240px : 941px
      order: 1;
    }

    &__author {
      width: 50.05313496280553%; // 471px : 941px
      margin: 0;
      text-align: right;
      order: 3;
    }
  }
}
