@media all and (min-width: $bp-mobile) {
  .video {
    margin-bottom: 4rem;

    &__item {
      width: 100%;
      background-color: #000;
    }

    iframe {
      width: 100%;
      border: none;
    }
  }
}

@media all and (min-width: $bp-tablets) {
  .video {
    width: 40.38257173219979%; // 380px : 941px
    margin-bottom: 0;
  }
}
